* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
body {
    margin: 0;
    padding: 0;
    background-color: #0e1538;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.box {
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    }

.box::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 150%;
    background: linear-gradient(#00ccff, #d400d4);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(350deg);
    }

}

.box::after {
    content: "";
    position: absolute;
    inset: 3px;
    background-color: #0e1538;

}

.box h2 {
    /* position: relative; */
    color: white;
    font-size: 10em;
    z-index: 10;
}