* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.logo_area {
    height: 300px;
    width: 500px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: rgba(0, 0, 0, 0.5);
}

.logo {
    background-color: transparent;
    animation: logo-animation 6s linear infinite;
}

@keyframes logo-animation {
    0% {
        transform: translateY(-10px);
        transform: scale(.75);
    }
    20% {
        transform: translateY(90px);
    }
    25% {
        transform: translateY(70px);
    }
    30% {
        transform: translateY(90px);
    }
    92% {
        transform: translateY(90px);
    }
    100% {
        transform: scale(.5);
    }
}

.logo > span{
    text-transform: uppercase;
    font-size: 5rem;
    animation: letter-animation 6s linear infinite;
}

@keyframes letter-animation {
    0% {
       opacity: 0; 
    }
    22% {
        opacity: 1;
        letter-spacing: 0;
    }
    30% {
        letter-spacing: 30px;
    }
    40% {
        letter-spacing: 30px;
    }
    75%{
        letter-spacing: 0;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.h {
    color: red;
    animation: h-animation 6s linear infinite;
}

@keyframes h-animation {
    0% {
        /* opacity: 0;  */
        transform:  rotate(20deg);
     }
     22% {
         /* opacity: 1;
         letter-spacing: 0; */
         
         color: yellow;
     }
     30% {
        
         /* letter-spacing: 30px; */
     }
     40% {
         /* letter-spacing: 30px; */
     }
     75%{
         /* letter-spacing: 0; */
     }
     90% {
         /* opacity: 1; */
     }
     100% {
         /* opacity: 0; */
         transform: rotate(350deg);
     }
}